
<!-- The footer of the entire webpage -->
 <footer>
    <div class="footer-start">
        <div>
            <img class="clickable" src="/icons/icon-eye.png" alt="The site icon"/>
        </div>
        <div>
            <img class="clickable" src="/icons/github.png" alt="Github link">
            <img class="clickable" src="/icons/linkedin.png" alt="Github link">
            <img class="clickable" src="/icons/instagram.png" alt="Github link">
        </div>
    </div>

    <div class="footer-section">
        <h1>Resources used</h1>
        <a 
        class="clickable" 
        href="https://www.figma.com/proto/ila11OOtkfCdVOVlhUftQh/WathcedThem?node-id=2-549&t=ZFKhetwKMpvMwFss-1" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Figma Design
        </a>
        <a
        class="clickable" 
        href="https://www.postgresql.org/" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            PostgreSQL
        </a>
        <a
        class="clickable" 
        href="https://api.movieposterdb.com/docs/#docs/summary/summary" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Movie API
        </a>
        <a
        class="clickable" 
        href="https://nodejs.org/en" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            NodeJS
        </a>
        <a
        class="clickable" 
        href="https://expressjs.com/" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            express.js
        </a>
        <a
        class="clickable" 
        href="https://www.passportjs.org/" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            passport.js
        </a>
        <a
        class="clickable" 
        href="https://www.npmjs.com/package/bcrypt" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            bcrypt
        </a>
        <a
        class="clickable" 
        href="https://www.npmjs.com/package/body-parser" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            body-parser.js
        </a>
        <a
        class="clickable" 
        href="https://www.npmjs.com/package/dotenv" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            dotenv
        </a>
        <a
        class="clickable" 
        href="https://ejs.co/" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            ejs
        </a>
        
    </div>

    <div class="footer-section">
        <h1>My Projects</h1>
        <a
        class="clickable" 
        href="https://iberieli.com/home" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Official Iberieli Website
        </a>
        <a
        class="clickable" 
        href="https://topuportfolio.onrender.com/" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Portfolio Website
        </a>
        <a
        class="clickable" 
        href="https://wewe-g7w6.onrender.com/" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Weather Website
        </a>
        <a
        class="clickable" 
        href="https://nicolaeus.itch.io/cubical" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            "Cubical"
        </a>
        <a
        class="clickable" 
        href="https://nicolaeus.itch.io/quit-horsing-around" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            "Quit Horsing Around!"
        </a>
        <a
        class="clickable" 
        href="https://nicolaeus.itch.io/the-robodventure" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            "The Robodventure"
        </a>
    </div>

    <div class="footer-section">
        <h1>Marketing</h1>
        <a
        class="clickable" 
        href="https://www.facebook.com/sheukhame" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Sheukhame
        </a>
        <a
        class="clickable" 
        href="https://www.facebook.com/profile.php?id=100093199086358" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Career Home
        </a>
        <a
        class="clickable" 
        href="https://www.facebook.com/iberieliwinerypage" 
        target="_blank" 
        rel="noopener noreferrer"
        >
            Iberieli
        </a>
    </div>
 </footer>


<!-- This is the end of the whole page -->
</body>
</html>