<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The stylesheet -->
    <link rel="stylesheet" href="style.css">
    <!-- The typography -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- Document title -->
    <title>WatchedThem</title>

    <style>
        :root {
            /* Text colors */
            --text-main: #1D1B20;
            --text-white: #F5F5F5;
            --text-subtle: #757575;
            
            /* Neutral colors */
            --border-neutral-secondary: #767676;
            --background-neutral-tertiary: #E3E3E3;
            --background-neutral-tertiary-hover: #CDCDCD;

            /* Primary colors */
            --background-primary-default: #2C2C2C;
            --background-primary-default-hover: #1E1E1E;

            /* Containers colors */
            --container-main: #ECE6F0;

            /* Background colors */
            --background-default: #FFFFFF;
            --border-default: #D9D9D9;
        }
    </style>
</head>
<body>
<!-- This is the start of the whole page -->

    <header>
        <!-- The page icon -->
        <div class="icon">
            <img class="clickable" src="icons/icon-eye.png" alt="Eye icon" onclick='location.href="/"'/>
        </div>

        <!-- The search bar -->
        <%- include("searchbar") %>

        <!-- The design and project a links -->
            <a class="clickable" href="https://www.figma.com/proto/ila11OOtkfCdVOVlhUftQh/WathcedThem?node-id=2-549&t=ZFKhetwKMpvMwFss-1" target="_blank" rel="noopener noreferrer">Design</a>
            <a class="clickable" href="https://github.com/nikatopu/" target="_blank" rel="noopener noreferrer">Projects</a>
        
        <% if (data == null) {%>
        
        <!-- Register/Sign in -->
         <div class="btn-group">
            <button class="btn btn-neutral btn-thin clickable" onclick='location.href="/login"'>Sign in</button>
            <button class="btn btn-primary btn-thin clickable" onclick='location.href="/register"'>Register</button>
         </div>

         <% } else { %>

            <div class="authed">
                <img class="clickable" src=<%- data.pfplink %> onclick='location.href="/user"'>
            </div>

        <% } %>
    </header>