<div class="pagination-max-width">
    <div class="pagination-main">
        <div class="pagination-tail pagination-disabled">
            Previous
        </div>
    
        <div class="pagination-list">
            <div class="pagination-page-current">
                1
            </div>
            <div class="pagination-page">
                2
            </div>
            <div class="pagination-page">
                ...
            </div>
            <div class="pagination-page">
                32
            </div>
            <div class="pagination-page">
                33
            </div>
        </div>
    
        <div class="pagination-tail">
            Next
        </div>
    </div>
</div>