<!-- A big review card -->
<div class="review-card-big clickable">

    <!-- The avatar and the name -->
    <div class="review-card-big-avatar">
        <img class="clickable" src="/icons/user-holder.png">
        <p>Emily J. S.</p>
    </div>

    <!-- Review information -->
    <div class="review-card-big-review">

        <div class="the-stars">
            <img src="/icons/star-full.png" alt="star full" />
            <img src="/icons/star-full.png" alt="star full" />
            <img src="/icons/star-full.png" alt="star full" />
            <img src="/icons/star-empty.png" alt="star empty" />
            <img src="/icons/star-empty.png" alt="star empty" />
        </div>

        <!-- The review itself -->
        <p>"This movie was amazing, without a doubt!"</p>

    </div>

    <!-- Reactions on the review -->
    <div class="review-card-big-reactions">
        <div class="reaction">
            <p>32.8k</p>
            <img class="clickable" src="/icons/like-empty.png"/>
        </div>
        <div class="reaction">
            <p>21.3k</p>
            <img class="clickable" src="/icons/comment.png"/>
        </div>
    </div>
</div>