<!-- A standard review card -->
<div class="review-card">

    <!-- Image of a movie poster -->
    <img src="/icons/shining-poster.png" alt="movie-poster" />

    <!-- Everything else -->
    <div class="review-frame">

        <div class="review-frame-title">
            The Movie Title
        </div>

        <div class="review-frame-bottom">

            <!-- User pfp -->
            <img src="/icons/user-holder.png" alt="user" />

            <div class="review-frame-info">
                <div class="the-stars">
                    <img src="/icons/star-full.png" alt="star full" />
                    <img src="/icons/star-full.png" alt="star full" />
                    <img src="/icons/star-full.png" alt="star full" />
                    <img src="/icons/star-empty.png" alt="star empty" />
                    <img src="/icons/star-empty.png" alt="star empty" />
                </div>

                <!-- User's name -->
                Emily J. S.
            </div>
        </div>
    </div>
</div>