 <div class="search-holder">
    <div class="search-layer">
        <input type="text" class="search-text" placeholder="Search for something...">
        <div class="search-trailing">
            <img src="icon">
        </div>
    </div>
</div>
