<div class="the-stars">
    <img src="/icons/star-full.png" alt="star full" />
    <img src="/icons/star-full.png" alt="star full" />
    <img src="/icons/star-full.png" alt="star full" />
    <img src="/icons/star-empty.png" alt="star empty" />
    <img src="/icons/star-empty.png" alt="star empty" />
</div>