<%# This section is like a huge review, the one that hold the entire width %>

<div class="user-review">
    <% if (locals.review) { %>
        <%# We should be getting the data of what review to show %>

        <div class="user-reviewed-movie">
<!-- Getting poster images are connected to the APIs, so its a problem for the future me -->
            <img class="clickable" src="/icons/shining-poster.png" />
        </div>

        <div class="stars-and-review">
            <div class="stars-and-reactions">
                <%# And we're passing the data to the stars to show correct amount %>
                <%- include('the-stars', {stars: review.stars}) %>
                <div class="reactions">
                    <div class="reaction">
                        <p>32.8k</p>
                        <img class="clickable" src="/icons/like-empty.png"/>
                    </div>
                    <div class="reaction">
                        <p>21.3k</p>
                        <img class="clickable" src="/icons/comment.png"/>
                    </div>
                </div>
            </div>
            <p>
                <%# Double review, nice %>
                <%- review.review %>
            </p>
        </div>

    <% } else { %>
    <%# If all else fails, show a random review %>
    <div class="user-reviewed-movie">
        <img class="clickable" src="/icons/shining-poster.png" />
    </div>

    <div class="stars-and-review">
        <div class="stars-and-reactions">
            <%- include('the-stars') %>
            <div class="reactions">
                <div class="reaction">
                    <p>32.8k</p>
                    <img class="clickable" src="/icons/like-empty.png"/>
                </div>
                <div class="reaction">
                    <p>21.3k</p>
                    <img class="clickable" src="/icons/comment.png"/>
                </div>
            </div>
        </div>
        <p>
            - “To be honest, I don't really think this movie was amazing, 
            but I say and think it is amazing, but I don't think at all, 
            but I think therefore I am, so if I don't think therefore I am 
            not which I actually don't want, so I will say that I think but 
            I don't think at the same time, since the only think I know 
            is that I know nothing”
        </p>
    </div>

    <% } %>
</div>


<style>
    /* ------------- User Reviews ------------- */

    .user-review {
        display: flex;
        width: 83.75lvw;
        align-items: flex-start;
        gap: 2.734lvw;
        height: max-content;
    }

    .gray-back {
        background-color: var(--background-neutral-tertiary);
    }

    .user-reviewed-movie > img {
        width: 18.75lvw;
        flex-shrink: 0;
    }

    .stars-and-review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.781lvw;
        flex: 1 0 0;
    }

    .stars-and-reactions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .stars-and-reactions > .reactions {
        display: flex;
        width: 15lvw;
        justify-content: space-between;
        align-items: center;
        gap: 0.156lvw;
    }

    .stars-and-reactions > .the-stars > img {
        width: 5lvw;
    }

    .stars-and-review > p {
        text-align: justify;
        font-size: 2.422lvw;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .reaction {
        display: flex;
        align-items: center;
    }

    .reaction > img {
        width: 2.5lvw;
    }
</style>