<%- include('partials/header') %>

<div class="hero">
    <div class="title-subtitle">
        <h1>WatchedThem</h1>
        <p>Leave a review about your favorite movies</p>
    </div>
    <div class="btn-group">
        <button class="btn btn-neutral">
            Reviews
        </button>
        <button class="btn btn-primary">
            New Post
        </button>
    </div>
</div>

<div class="review-grid">

    <div class="small-heading">
        <h1>
            Popular reviews
        </h1>
        <p>
            Currently trending reviews left by others like you
        </p>
    </div>

    <div class="card-grid">
        <div class="review-card">
            <img src="/icons/shining-poster.png" alt="movie-poster" />
            <div class="review-frame">
                <div class="review-frame-title">
                    The Movie Title
                </div>
                <div class="review-frame-bottom">
                    <img src="/icons/user-holder.png" alt="user" />
                    <div class="review-frame-info">
                        <div class="the-stars">
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                        </div>
                        Emily J. S.
                    </div>
                </div>
            </div>
        </div>

        <div class="review-card">
            <img src="/icons/shining-poster.png" alt="movie-poster" />
            <div class="review-frame">
                <div class="review-frame-title">
                    The Movie Title
                </div>
                <div class="review-frame-bottom">
                    <img src="/icons/user-holder.png" alt="user" />
                    <div class="review-frame-info">
                        <div class="the-stars">
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                        </div>
                        Emily J. S.
                    </div>
                </div>
            </div>
        </div>

        <div class="review-card">
            <img src="/icons/shining-poster.png" alt="movie-poster" />
            <div class="review-frame">
                <div class="review-frame-title">
                    The Movie Title
                </div>
                <div class="review-frame-bottom">
                    <img src="/icons/user-holder.png" alt="user" />
                    <div class="review-frame-info">
                        <div class="the-stars">
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                        </div>
                        Emily J. S.
                    </div>
                </div>
            </div>
        </div>

        <div class="review-card">
            <img src="/icons/shining-poster.png" alt="movie-poster" />
            <div class="review-frame">
                <div class="review-frame-title">
                    The Movie Title
                </div>
                <div class="review-frame-bottom">
                    <img src="/icons/user-holder.png" alt="user" />
                    <div class="review-frame-info">
                        <div class="the-stars">
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                        </div>
                        Emily J. S.
                    </div>
                </div>
            </div>
        </div>

        <div class="review-card">
            <img src="/icons/shining-poster.png" alt="movie-poster" />
            <div class="review-frame">
                <div class="review-frame-title">
                    The Movie Title
                </div>
                <div class="review-frame-bottom">
                    <img src="/icons/user-holder.png" alt="user" />
                    <div class="review-frame-info">
                        <div class="the-stars">
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                        </div>
                        Emily J. S.
                    </div>
                </div>
            </div>
        </div>

        <div class="review-card">
            <img src="/icons/shining-poster.png" alt="movie-poster" />
            <div class="review-frame">
                <div class="review-frame-title">
                    The Movie Title
                </div>
                <div class="review-frame-bottom">
                    <img src="/icons/user-holder.png" alt="user" />
                    <div class="review-frame-info">
                        <div class="the-stars">
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-full.png" alt="star full" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                            <img src="/icons/star-empty.png" alt="star empty" />
                        </div>
                        Emily J. S.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<%- include('partials/footer') %>