<%- include('partials/header') %>

<div class="hero">
    <div class="title-subtitle">
        <h1>WatchedThem</h1>
        <p>Leave a review about your favorite movies</p>
    </div>
    <div class="btn-group">
        <button class="btn btn-neutral">
            Reviews
        </button>
        <button class="btn btn-primary">
            New Post
        </button>
    </div>
</div>


<%- include('partials/footer') %>