<%- include('partials/header') %>

<% if (locals.data) { %>
<div class="user-head">
    <div class="avatar">
        <img src=<%- data.pfplink %> alt="user pfp">
    </div>
    <div class="text-group">
        <p>you're signed in as</p>
        <h1><%- data.displayname %></h1>
    </div>
    <div class="user-settings">
        <img class="clickable" src="/icons/icon-settings.png" alt="user pfp">
    </div>

</div>

<div class="hero">
    <div class="small-heading">

    </div>
    <div class="movie-list">

    </div>
    <div class="pagination">

    </div>
</div>

<% } else { %>
    <div class="error">
        There was an error with getting your data, please try again.
    </div>
<% } %>

<%- include('partials/footer') %>
