<%- include('partials/header') %>

<div class="user-head">
    <div class="avatar">
        <img src="/icons/user-holder.png" alt="user pfp">
    </div>
    <div class="text-group">
        <p>you're signed in as</p>
        <h1>User</h1>
    </div>
    <div class="user-settings">
        <img class="clickable" src="/icons/icon-settings.png" alt="user pfp">
    </div>

</div>

<div class="hero">
    <div class="small-heading">

    </div>
    <div class="movie-list">

    </div>
    <div class="pagination">

    </div>
</div>

<%- include('partials/footer') %>
