/* ------------- Root Variables ------------- */
:root {
    /* Text colors */
    --text-main: #1D1B20;
    --text-white: #F5F5F5;
    --text-subtle: #757575;
    
    /* Neutral colors */
    --border-neutral-secondary: #767676;
    --background-neutral-tertiary: #E3E3E3;
    --background-neutral-tertiary-hover: #CDCDCD;

    /* Primary colors */
    --background-primary-default: #2C2C2C;
    --background-primary-default-hover: #1E1E1E;

    /* Containers colors */
    --container-main: #ECE6F0;

    /* Background colors */
    --background-default: #FFFFFF;
    --border-default: #D9D9D9;
}

/* ------------- Text Types ------------- */
.txt-primary, .txt-secondary, * {
    color: var(--text-main);
    font-size: 1.25lvw;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.25lvw;
    word-wrap: break-word
}

.txt-secondary {
    color: var(--text-white);
}

/* ------------- Button Types ------------- */
/* General button */
.btn {
    display: flex;
    width: 8.75vw;
    justify-content: center;
    align-items: center;
    padding: 0.938vw;
    margin: 1.563vw;
    border-radius: 0.625vw;
    cursor: pointer;
    border: 0.125vw solid;
    opacity: 0.75vw;

    /* Text inside a button */
    font-size: 1.25lvw;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.25lvw;
    word-wrap: break-word
}

/* Neutral Button */
.btn-neutral {
    border-color: var(--border-neutral-secondary);
    background: var(--background-neutral-tertiary);

    /* Text of neutral button */
    color: var(--text-main);
}

.btn-neutral:hover {
    background-color: var(--background-neutral-tertiary-hover);
}

/* Primary button */
.btn-primary {
    border-color: var(--background-primary-default);
    background: var(--background-primary-default);

    /* Text of primary button */
    color: var(--text-white);
}

.btn-primary:hover {
    background-color: var(--background-primary-default-hover);
    border-color: var(--background-primary-default-hover);
}

/* Danger button */
.btn-danger {
    border-color: #C00F0C;
    background-color: #EC221F;

    width: max-content;

    /* Text of a danger button */
    color: var(--text-white);
}

.btn-danger:hover {
    background-color: #C00F0C;
    border-color: #900B09;
}

/* Button with max width */
.btn-fill {
    width: 100%;
}

/* Thin buttons like sign in and register */
.btn-thin {
    height: 0.938vw;
    padding: 0.938vw;
    width: 7.5vw;
}

/* Button group */
.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 18.75vw;
    gap: 1.25vw;
    margin: 1.563vw;
}

.btn-group > button {
   margin: 0;
}

/* ------------- Clickable animation ------------- */

.clickable {
    cursor: pointer;
    transition-duration: 0.25s;
    
}

.clickable:hover {
    transition-duration: 0.25s;
    transform: translateY(-3px) scale(1.025);
}

/* ------------- User Settings ------------- */

.hidden {
    display: none;
}

.dropdown-settings {
    display: flex;
    padding: 0lvw 5lvw 1lvw 5lvw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.dropdown-line {
    display: flex;
    align-items: center;
    gap: 0.625lvw;
    justify-content: center;
    align-self: stretch;
}

.dropdown-line > hr {
    width: 80%;
}

.dropdown-line > img {
    width: 1.25lvw;
}

.rotated {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}