/* ------------- Root Variables ------------- */
:root {
    /* Text colors */
    --text-main: #1D1B20;
    --text-white: #F5F5F5;
    --text-subtle: #757575;
    
    /* Neutral colors */
    --border-neutral-secondary: #767676;
    --background-neutral-tertiary: #E3E3E3;
    --background-neutral-tertiary-hover: #CDCDCD;

    /* Primary colors */
    --background-primary-default: #2C2C2C;
    --background-primary-default-hover: #1E1E1E;

    /* Containers colors */
    --container-main: #ECE6F0;

    /* Background colors */
    --background-default: #FFFFFF;
    --border-default: #D9D9D9;
}

/* ------------- Text Types ------------- */
.txt-primary, .txt-secondary, * {
    color: var(--text-main);
    font-size: 1.25lvw;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.25lvw;
    word-wrap: break-word
}

.txt-secondary {
    color: var(--text-white);
}

/* ------------- Button Types ------------- */
/* General button */
.btn {
    display: flex;
    width: 8.75vw;
    justify-content: center;
    align-items: center;
    padding: 0.938vw;
    margin: 1.563vw;
    border-radius: 0.625vw;
    cursor: pointer;
    border: 0.125vw solid;
    opacity: 0.75vw;

    /* Text inside a button */
    font-size: 1.25lvw;
    font-family: "Inter";
    font-weight: 400;
    line-height: 1.25lvw;
    word-wrap: break-word
}

/* Neutral Button */
.btn-neutral {
    border-color: var(--border-neutral-secondary);
    background: var(--background-neutral-tertiary);

    /* Text of neutral button */
    color: var(--text-main);
}

.btn-neutral:hover {
    background-color: var(--background-neutral-tertiary-hover);
}

/* Primary button */
.btn-primary {
    border-color: var(--background-primary-default);
    background: var(--background-primary-default);

    /* Text of primary button */
    color: var(--text-white);
}

.btn-primary:hover {
    background-color: var(--background-primary-default-hover);
    border-color: var(--background-primary-default-hover);
}

/* Danger button */
.btn-danger {
    border-color: #C00F0C;
    background-color: #EC221F;

    width: max-content;

    /* Text of a danger button */
    color: var(--text-white);
}

.btn-danger:hover {
    background-color: #C00F0C;
    border-color: #900B09;
}

/* Button with max width */
.btn-fill {
    width: 100%;
}

/* Thin buttons like sign in and register */
.btn-thin {
    height: 0.938vw;
    padding: 0.938vw;
    width: 7.5vw;
}

/* Button group */
.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 18.75vw;
    gap: 1.25vw;
    margin: 1.563vw;
}

.btn-group > button {
   margin: 0;
}



/* ------------- The Search Bar ------------- */

.search-holder {
    display: flex;
    width: 51.953vw;
    height: max-content;
    min-width: 28.125vw;
    max-width: 56.25vw;
    align-items: center;
    gap: 0.313vw;

    border-radius: 2.188vw;
    opacity: 0.75vw;
    background: var(--container-main, #ECE6F0);
}

.search-layer {
    display: flex;
    padding: 0.313vw 0.469vw;
    align-items: center;
    gap: 0.313vw;
    flex: 1 0 0;
    align-self: stretch;

    opacity: 0.75vw;
}

.search-text {
    display: flex;
    align-items: center;
    gap: 0.781vw;
    flex: 1 0 0;
    align-self: stretch;

    background-color: transparent;
    border-color: transparent;
}

.search-text:focus {
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.search-trailing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-trailing > img {
    width: 1.406vw;
    height: 1.406vw;
    flex-shrink: 0;
    cursor: pointer;
}

/* ------------- The Pagination ------------- */

.pagination-max-width {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;

    padding: 1% 0%;

    width: 100%;
}

.pagination-main {
    display: flex;
    width: 83.75vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;
}

.pagination-tail {
    display: flex;
    padding: 0.625vw 0.938vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;

    cursor: pointer;
    border-radius: 0.625vw;
}

.pagination-list {
    display: flex;
    align-items: center;
    gap: 0.625vw;
}

.pagination-page, .pagination-page-current {
    display: flex;
    padding: 0.625vw 0.938vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.625vw;
    background: none;
    color: var(--text-main);

    cursor: pointer;
}

.pagination-page:hover, .pagination-tail:not(.pagination-disabled):hover {
    background-color: var(--background-neutral-tertiary);
}

.pagination-page-current {
    background: var(--background-primary-default-hover);
    color: var(--text-white);

    cursor: default;
}

.pagination-disabled {
    color: var(--text-subtle);

    cursor: default;
}

/* ------------- The Review Card ------------- */
/* 

*/
.review-card {
    display: flex;
    width: 24lvw;
    height: 8lvw;
    padding: 1.875vw;
    justify-content: center;
    align-items: center;
    gap: 1.875vw;

    border-radius: 0.625vw;
    border: 0.125vw solid var(--border-default);
    background: var(--background-default);
}

.review-card > img, .review-card-big > img {
    height: 120%;
    flex-shrink: 0;
}

.review-frame {
    display: flex;
    height: 7.891vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.563vw;
}

.review-frame-title {
    display: flex;
    width: 14.531vw;
    height: 2.266vw;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;

    line-height: 120%; /* 2.25vw */
    letter-spacing: -0.037vw;
    font-weight: 600;
    font-size: 1.875vw;
}

.review-frame-bottom {
    display: flex;
    width: 14.531vw;
    align-items: center;
    justify-content: center;
    gap: 0.625vw;
}

.review-frame-bottom > img {
    display: flex;
    width: 3.125vw;
    height: 3.125vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.review-frame-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.156vw;
    flex: 1 0 0;

    color: var(--text-subtle)
}

.review-frame-info > .the-stars > img {
    width: 1.875vw;
    height: 1.875vw;
}

/* ------------- The Big Review Card ------------- */
/* 

*/
.review-card-big {
    display: flex;
    width: 100%;
    height: 5.5lvw;
    padding: 1.875vw;
    align-items: center;
    gap: 1.875vw;
    align-self: stretch;

    border-radius: 0.625vw;
    border: 0.125vw solid var(--border-default);
    background: var(--background-default);
}

.review-card-big-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-card-big-avatar > * {
    margin: 0;

    color: var(--text-subtle);
    font-size: 1lvw;
}

.review-card-big-avatar > img {
    display: flex;
    width: 6lvw;
    justify-content: center;
    align-items: center;

    margin-bottom: 0.5lvw;
}

.review-card-big-review {
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.563vw;
}

.review-card-big-review > p {
    font-size: 2.25lvw;
    font-style: normal;
    line-height: 140%; /* 3.281vw */
    width: max-content;

    margin: 0;
}

.review-card-big-review > .the-stars {
    margin: 0;
}

.review-card-big-review > .the-stars > img {
    width: 3lvw;
}

.review-card-big-reactions {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.125;
}

.reaction {
    display: flex;
    align-items: center;
}

.reaction > img {
    width: 2.5lvw;
}

/* ------------- The Stars ------------- */
.the-stars {
    display: flex;
    width: 100%;
    align-items: flex-start;
}


/* ------------- Clickable animation ------------- */

.clickable {
    cursor: pointer;
    transition-duration: 0.25s;
    
}

.clickable:hover {
    transition-duration: 0.25s;
    transform: translateY(-3px) scale(1.025);
}


/* ------------- User Head ------------- */


.user-head {
    display: flex;
    padding: 3.9lvw 5lvw;
    align-items: center;
    gap: 3.75lvw;
    align-self: stretch;

    height: 50lvh;
}

.user-head > .avatar {
    display: flex;
    width: 12.813lvw;
    height: 12.813lvw;
    justify-content: center;
    align-items: center;
}

.avatar > img {
    width: 14.375lvw;
    height: 14.375lvw;
    flex-shrink: 0;
}

.text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
}

.text-group > p {
    font-size: 2.656lvw;
    font-style: normal;
    font-weight: 400;

    margin: 0;
    color: var(--text-subtle);
}

.text-group > h1 {
    font-size: 7.031lvw;
    font-style: normal;
    font-weight: 700;
}

.user-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.781lvw;
    flex: 1 0 0;
    align-self: stretch;
}

.user-settings > img {
    width: 3lvw;
    height: 3lvw;
}


/* ------------- User Reviews ------------- */

.user-review {
    display: flex;
    width: 83.75lvw;
    align-items: flex-start;
    gap: 2.734lvw;
    height: max-content;
}

.gray-back {
    background-color: var(--background-neutral-tertiary);
}

.user-reviewed-movie > img {
    width: 18.75lvw;
    flex-shrink: 0;
}

.stars-and-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.781lvw;
    flex: 1 0 0;
}

.stars-and-reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.stars-and-reactions > .reactions {
    display: flex;
    width: 15lvw;
    justify-content: space-between;
    align-items: center;
    gap: 0.156lvw;
}

.stars-and-reactions > .the-stars > img {
    width: 5lvw;
}

.stars-and-review > p {
    text-align: justify;
    font-size: 2.422lvw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}